.menu{
    width: 250px;
    margin:2px;
    height: 350px;
    border: 1px solid black;
    color: black;
    background-color: lightblue;
    padding:0px 0px 0px 0px;
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    position: relative;
}
.menu img{
    width: 100px;
    height: 100px;
    
}
.buy{
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 18px;
    left: 10px;
}
.delete{
    width: 90px;
    height: 30px;
    position: absolute;
    bottom:18px;
    right:10px;
    font-weight: bold;
    cursor: pointer;
}